@using Wörter.AppLib
<!doctype html>
<html lang="tr">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<base href='@Url.Content("~/")'>
	<title>Wörter</title>
	@await Html.PartialAsync("~/ViewPartials/Styles.cshtml")
	@await RenderSectionAsync("Styles", required: false)
</head>

<body>

	@* @Html.Preloader() *@

	<partial name="~/ViewPartials/Navbar.cshtml" />

	<div class="container-lg">
		@RenderBody()
	</div>

	@await Html.PartialAsync("~/ViewPartials/Scripts.cshtml")

	@* <partial name="~/ViewPartials/ShowMessage.cshtml" /> *@
	
	@await RenderSectionAsync("Scripts", required: false)
</body>

</html>