<div class="row">
	<div class="col-12 text-end">
		<a href="/"><i class="fa-solid fa-home p-2 m-2 my-4 shadow"></i></a>
		<a href="/Edit"><i class="fa-solid fa-plus p-2 m-2 my-4 shadow"></i></a>
		<a href="/Tiny"><i class="fa-solid fa-note-sticky p-2 m-2 my-4 shadow"></i></a>
		<a href="/List"><i class="fa-solid fa-list p-2 m-2 my-4 shadow"></i></a>
		<a href="/NoteList"><i class="fa-solid fa-table-list p-2 m-2 my-4 shadow"></i></a>
		<a href="/Game"><i class="fa-solid fa-dice p-2 m-2 my-4 shadow"></i></a>
	</div>
</div>
