<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<span class="navbar-brand mb-0 h1">Wörter</span>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="@Url.Action("Index", "Home")"> Home</a>
				</li>
				<partial name="_Themes"></partial>
			</ul>
		</div>
	</div>
</nav>